.head{
   display: flex;
   flex-direction: column;
   position:relative;
   margin-left: 25%;
   margin-bottom: 1%;
}

.yuwatinyi{
    font-family: 'Sahitya', sans-serif;
    font-size: 400%;
    color: floralwhite;
    text-align: center;
    margin-right: 35%;
    margin-top: 10%;
}

.acheik_color{
    margin-top: -10%;
    margin-left:-12%;
}

.burmese{
    margin-top: -5%;
    margin-left: 5%;
}