/*!*****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/app/components/MenuBar/Menubar.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************/
@font-face {
  font-family: 'Sahitya';
  src: url('/Sahitya-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.Menubar_menu__DT9E5 {
  position: fixed;
  bottom: 5%;
  left:50%;
  transform: translateX(-50%);

}

.Menubar_link__TrvT8 {
  font-family: 'Sahitya', serif;
  text-transform: lowercase;
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

.Menubar_link__TrvT8:hover,
.Menubar_active__wZvhT {
  text-decoration: underline;
}
