@font-face {
  font-family: 'Sahitya';
  src: url('/fonts/Sahitya-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.menu {
  position: fixed;
  bottom: 5%;
  left:50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 15px;
  padding: 10px 20px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.link {
  font-family: 'Sahitya', serif;
  text-transform: lowercase;
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

.link:hover,
.active {
  text-decoration: underline;
}