@font-face {
  font-family: 'Sahitya';
  src: url('/Sahitya-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.menu {
    margin-bottom:5%;
}

.link {
  font-family: 'Sahitya', serif;
  text-transform: lowercase;
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

.link:hover,
.active {
  color: #0070f3;
}