/*!*****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/app/components/MenuBar/Menubar.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************/
@font-face {
  font-family: 'Sahitya';
  src: url('/Sahitya-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.Menubar_menu__DT9E5 {
  position: fixed;
  bottom: 5%;
  left:50%;
  transform: translateX(-50%);

}

.Menubar_link__TrvT8 {
  font-family: 'Sahitya', serif;
  text-transform: lowercase;
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

.Menubar_link__TrvT8:hover,
.Menubar_active__wZvhT {
  text-decoration: underline;
}
/*!**************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/app/about/about.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************/
.about_head__eKusy{
    font-family: 'Sahitya', sans-serif;
    font-size: 300%;
    color: floralwhite;
    margin-left: 15%;
    margin-top:2%;
}
.about_body__iGuGk{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* left:50%; */
    transform: translateX(15%);
    /* background-color: #454545; */
    background-color: rgba(69, 69, 69, 0.8);
    border-radius: 40px;
    max-width: 80%;
    margin-top: 1%;
    /* box-shadow: 0 0 20px 1px #08080866; */

    
}
.about_p__GSTqo{
    width: 45%;
    font-family: 'Sahitya', sans-serif;
    color: #ffff;
    font-size: 135%;
    text-shadow: 0 0 1px floralwhite;
    padding-left: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
}
.about_acheik_color__JDl8E{
    margin-left: 15%;
}
.about_image_wrapper__dp4OA {
    margin-top: 1%;
    padding-right: 5%;
    padding-top: 2%;
  /* border: 3px solid floralwhite;
  border-radius: 40px; */
  
}
